# Android Studio 忽略文件
.gradle/
.idea/
*.iml
local.properties
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/

# 构建文件
*.apk
*.ap_
*.aab

# 日志文件
*.log

# 本地配置文件
*.orig
*.bak

# 缓存文件
*.class
*.dex

# 其他
*.keystore
!gradle-wrapper.jar